  <br>
  <div class="container contenedor-animes">
  <div class="row">
    <div class="col-4" >
      <p>La cantidad total de episodios es 1 y el rating promedio es 2</p>
      
    </div>
    <hr>

    <div *ngIf="selected">
      <app-anime-detail [animeDetail]="selectedBAnime"></app-anime-detail>
      <hr>
    </div>
    
      <div class="card"  *ngFor="let anime of animes" style="width: 12rem;">
        <div class="col-sm9 mb-6 mb-sm-3">
          <img src={{anime.img}} class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{anime.name}}</h5>
            <p class="card-text">⭐{{anime.Rating}} 
              <b>Categories: </b>{{anime.categorie}}</p>
          <a href="#"(click)="onSelected(anime)" class="btn btn-primary">More information</a>
          </div>
        </div>  
      </div>
    

  </div>
</div>

<div class="col-sm9 mb-6 mb-sm-3"> </div>
